.mui-content-padded{
	margin-top: 50px;
}
.face-img{
	width: 100%;
}
.face-img img{
	display: block;
	margin: 0 auto;
}
.face-btn{
	width: 100%;
	height: 50%;
	margin: 10px;
}
.face-btn button{
	display: block;
	margin: 0 auto;
}